<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- Send debug messages to System.out -->
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<!-- By default, encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger - %thread - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE-AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>reports/automation.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{HH:mm:ss.SSS} %-5level %logger - %thread - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>reports/latest/automation.%d{yyyy-MM-dd}.%i.log </fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>
	<!--'additivity' flag is important! Without it logback will double-log log messages -->
	<logger name="com.gwl.dh" level="TRACE" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-AUDIT" />
	</logger>

	<!-- By default, the level of the root level is set to DEBUG -->
	<root level="DEBUG">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>